ul {
    list-style: none;
    padding: 0;
}

.service-calculator-component {
    text-align: left;
}

.service-calculator-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.year-calculation-column {
    width: fit-content;
}

.service-calculator-component ul li:first-child .service-calculator-delete-column {
    width: 118.083px; 
}

.service-calculator-delete-column {
    align-self:center;
}

.total-years-counter {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}