.contact-form-personal-details {
    display: flex;
    flex-direction: column;
}

.contact-form-field-container {
    flex-direction: column;
    display: flex;
    text-align: start;
}

/* ul {
    display: flex;
    flex-direction: row;
} */

@media screen and (min-width: 1095px) {
    .steps ul {
        display: flex;
        flex-direction: row;
    }
  }