#root {
  /* margin: 0 auto;
  padding: 0 2rem 0 2rem; */
  text-align: center;
}

.App .main-content > div {
  padding: 0 2rem 0 2rem; 
  /* padding-top: 0;
  padding-bottom: 0;
  padding-right: clamp(15px, 5%, 200px);
  padding-left: clamp(15px, 5%, 200px); */

}

.App .main-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.App .submission-buttons {
  display: flex;
  justify-content: center;
  gap: .5rem;

  & button {
    flex: 1;
  }

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media screen and (max-width: 565px) {
  .App .main-content > div {
    padding: 0 .25rem 0 .25rem; 
  }
}